[submodule "services/auth"]
	path = services/auth
	url = git@github.com:AhmedSarhanDL/tutor-stack-auth.git
[submodule "services/assessment"]
	path = services/assessment
	url = git@github.com:AhmedSarhanDL/tutor-stack-assessment.git
[submodule "services/content"]
	path = services/content
	url = git@github.com:AhmedSarhanDL/tutor-stack-content.git
[submodule "services/notifier"]
	path = services/notifier
	url = git@github.com:AhmedSarhanDL/tutor-stack-notifier.git
[submodule "services/tutor_chat"]
	path = services/tutor_chat
	url = git@github.com:AhmedSarhanDL/tutor-stack-tutor_chat.git
